DATABASE_URL=postgresql://usuario:password@host:5432/railway

JWT_SECRET=cambia-este-valor-por-uno-seguro-minimo-32-chars
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

OTP_DEV_CODE=123456

CORS_ORIGINS=http://localhost:3000,http://localhost:8080,http://10.0.2.2:8000

UPLOADS_DIR=./uploads

ENV=production
